.img {
    width: 300px;
    height: 300px;
    margin: 30px;
    background-color: red;
    border-radius: 10px;
}

span {
    background-color: green;
}

.fondo {
    background-image: url("../assets/images/fondo-dados.jpg");
}

.centrar {
    height: 100vh;
}

.centrarDados {
    padding-top: 180px ;
}

.letra {
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

.btn {
    border-radius: 20px;
}