<div class="fondo">
  <div class="container">
    <div class="centrar">
      <div class="text-center centrarDados">
        <button class="btn btn-success btn-lg letra" (click)="tirarDados()">Tirar Dados</button>
        <br>
        <img class="img" [src]="dadoIzquierda" alt="">
        <img class="img" [src]="dadoDerecha" alt="">
        <h1 *ngIf="numero1 === numero2">
          <span class="badge badge-success" >
             GANASTE
          </span>
        </h1>
      </div>
    </div>
  </div>
</div>


